<div class="container">
  <div id="article" ng-controller="articlesControl">
    <div class="row">
      <div class="catMobilier col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 ng-repeat="article in articles | filter:ref">{{article.cat}}</h2>

      </div>
      <div class="row">
        <div class="articleImg col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div ng-repeat="article in articles | filter:ref">
            <img class="rounded mx-auto d-block" src="{{article.img}}" alt="{{article.name}}">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <p ng-repeat="article in articles | filter:ref"><strong>Référence de l'article :</strong> {{article.ref}}</p>
          <p ng-repeat="article in articles | filter:ref"><strong>Nom de l'article :</strong> {{article.name}}</p>
          <p ng-repeat="article in articles | filter:ref"><strong>Description : </strong>{{article.description}}</p>
          <p ng-repeat="article in articles | filter:ref"><strong>Prix unitaire :</strong> {{article.price | currency:"€":2}}</p>
          <label><strong>Quantité</strong></label>
          <button type="button" class="btn btn-primary btn-sm" ng-click="count >= 1 ? count = count-1 : 0">-</button>
          <input ng-model="count" type="text" name="quantity" min-value=0>
          <button type="button" class="btn btn-primary btn-sm" ng-init="count = 1" ng-click="count = count+1">+</button>
        </div>
      </div>
    </div>
    <div class="row bottom">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#!/categories" class="btn btn-primary">Retour aux achats</a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <p ng-repeat="article in articles | filter:ref"><strong>Total : </strong> {{count * article.price | currency:"€":2}}</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
      </div>
    </div>
  </div>
</div>
