<div id="categories" ng-controller="categoriesControl" class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-5 d-none d-sm-block">
      <div class="btn-group mx-auto " data-toggle="buttons">
          <a class="btn btn-primary" href="#!/categories/"> Tous les articles</a>
          <a class="btn btn-primary" href="#!/categories/mobilier">Mobilier</a>
          <a class="btn btn-primary" href="#!/categories/luminaire">Luminaire</a>
      </div>
    </div>
    <ul id="menuCatXs"class="d-block d-sm-none">
      <li><a class=" btn btn-primary" href="#!/categories/"> Tous les articles</a></li>
      <li><a class=" btn btn-primary" href="#!/categories/mobilier">Mobilier</a></li>
      <li><a class=" btn btn-primary" href="#!/categories/luminaire">Luminaire</a></li>
    </ul>

  </div>
  <div class="row">
    <div class="col-lg-3 card" ng-repeat="article in articles | filter: ref">
      <h3 class="card-header">{{article.cat}}</h3>
      <div class="card-body">
        <h5 class="card-title">{{article.name}}</h5>
      </div>
    <a href="#!/articles/{{article.ref}}">  <img style="height: 200px; width: 100%; display: block;" class="img-responsive" ng-src="{{article.img}}" alt="{{article.name}}"/></a>
      <p class="card-footer text-muted">{{article.price}}</p>
    <button type="button" class="btn btn-primary" ng-click="qt = qt + 1; addToBasket(article.ref, qt);">{{qt}}Ajouter au panier</button>
    </div>
  </div>
</div>
