<!-- test carrousel -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" >
    <div class="carousel-item active text-center">
      <img src="assets/images/img_slider1.jpg" class="img_slider img-fluid">
    </div>
    <div class="carousel-item text-center">
      <img src="assets/images/img_slider2.jpeg" class="img_slider img-fluid">
    </div>
    <div class="carousel-item text-center">
      <img src="assets/images/img_slider3.jpg" class="img_slider img-fluid">
    </div>
    <div class="carousel-item text-center">
      <img src="assets/images/img_slider4.jpg" class="img_slider img-fluid">
    </div>
    <div class="carousel-item text-center">
      <img src="assets/images/img_slider5.jpg" class="img_slider img-fluid">
    </div>
    <div class="carousel-item text-center">
      <img src="assets/images/img_slider6.jpg" class="img_slider img-fluid">
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
<div class="container-fluid" ng-controller="homeControl">
  <div class="row text-center">
    <h2 class="title_promotion">Black Friday</h2>
  </div>

  <div class="row block_promotion" style="background-color: black">
      <div class="col-lg-4" ng-repeat="article in articles | orderBy: reverse | filter: 'mobilier'| filter: 4">
        <h3 class="text-center" style="color: white;">En Promotion !</h3>
        <div class="">
        </div>
      <a href="#!/articles/{{article.ref}}"><img class="img-fluid img_promo" ng-src="{{article.img}}" alt="{{article.name}}"/></a>
        <p class="categorie_img_content3" style="color: white">{{article.price}} <strike>3000 $</strike></p>

       </div>
     </div>
  </div>

  <!-- Gallery article MOBILIER-->
    <div class="container">

      <hr>

      <h2 class="text-center">Catégorie : Mobilier</h2>

      <hr>

    <div class="row">

      <div class="col-lg-4 card" ng-repeat="article in articles | filter: 'mobilier' | filter: 4">

        <h3 class="card-header"><a href="#!/categories/mobilier">{{article.cat}}</a></h3>

      <div class="card-body">

          <h5 class="card-title">{{article.name}}</h5>

       </div>

      <a href="#!/articles/{{article.ref}}"><img style="height: 200px; width: 100%;" class="img-responsive" ng-src="{{article.img}}" alt="{{article.name}}"/></a>

        <p class="categorie_img_content3">{{article.price}}</p>



       </div>

     </div>
  <hr>
  <!-- Gallery article LUMINAIRE-->
  <h2 class="title_luminaire_home text-center">Catégorie : Luminaire</h2>

  <div class="row">

    <div class="col-lg-4 card" ng-repeat="article in articles | filter: 'luminaire' | filter: 3">

      <h3 class="card-header"><a href="#!/categories/luminaire">{{article.cat}}</h3>

      <div class="card-body">

        <h5 class="card-title">{{article.name}}</h5>

      </div>

    <a href="#!/articles/{{article.ref}}"><img style="height: 200px; width: 100%;" class="img-responsive" ng-src="{{article.img}}" alt="{{article.name}}"/></a>

      <p class="categorie_img_content3">{{article.price}}</p>



     </div>

   </div>



   <!-- fin container-fluid -->

 </div>
