<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"/>
  <link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="assets/css/animate.css"/>
  <link rel="stylesheet" href="assets/css/styleArticle.css"/>
  <link rel="stylesheet" href="assets/css/amadou.css">
  <link rel="stylesheet" href="assets/css/style.css"/>
  <title>Projet Angularjs - concept store</title>
</head>
<body ng-app="store">
  <header>
    <div class="container-fluid text-center">
        <p class="logo"><a class="navbar-brand" href="#!/home">CS</a></p>
        <h1>Concept Store</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#!/home">Accueil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#!/categories/mobilier">Catégorie mobilier</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#!/categories/luminaire">Catégorie luminaire</a>
          </li>
        </ul>
        <!-- my-lg-0 = padding top , bottom -->
        <form class="form-inline col-lg-offset-0 col-lg-4 my-lg-0">
          <!-- Espace entre barre et bouton search -->
          <input class="form-control mr-sm-1 menu_search" placeholder="Search" type="text">
          <button class="btn btn-secondary my-2 my-sm-0 menu_search" type="submit">Search</button>
        </form>
        <div class="col-lg-offset-10 col-lg-2">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <!-- <a data-toggle="modal" data-target="#basketModal" class="nav-link" href="#">Panier</a> -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basketModal">
                Panier
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Gallery article PROMO -->
  <section ng-view></section>
  <!--                           Footer                                        -->

  <footer class="footer_page">
    <div class="container">
      <div class="row">
          <p class="col-lg-10"><a href="#top" class="top_page"></a></p>
          <ul class="social-icon animate col-lg-2">
            <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
            <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>

  </footer>

  <!-- Modal -->
  <div class="modal fade" id="basketModal" tabindex="-1" role="dialog" aria-labelledby="basketModalLabel" aria-hidden="true" ng-controller="basketControl">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="basketModalLabel">Votre panier</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- template row reference -->
          <div class="row" ng-repeat="article in articles | filter:filterByBasket" ref="{{article.ref}}">
            <div class="col-2">
              <img class="img-fluid img-thumbnail" src="{{article.img}}" title="ref" alt="ref"/>
            </div>
            <div class="col-2">
              {{article.name}}
            </div>
            <div class="col-4">
              <form class="form-group form-inline">
                <div class="input-group quantity">
                  <input ref="ref" class="input-group-addon btn" type="button" id="minus" value="-" />
                  <input class="input-group" placeholder="quantite" type="text" id="quantityOf{{article.ref}}" />
                  <input ref="ref" class="input-group-addon btn" type="button" id="plus" value="+" />
                </div>
              </form>
              <button ref="{{article.ref}}" ng-click="removeFromBasket(article.ref)" class="btn btn-danger" type="button"><i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            <p>quantité : {{article.qt}}</p>
            </div>
            <div class="col-4">
              <form class="form-group">
                <div class="input-group total">
                  <input class="form-control" id="totalRefPrice" placeholder="Total reference" type="text" readonly />
                  <div class="input-group-addon">€</div>
                </div>
              </form>
            </div>
          </div><!-- /template row reference -->
          <!-- row prix total -->
          <div class="row">
            <div class="offset-8 col-4">
              <form class="form-group">
                <div class="input-group">
                  <input class="form-control" id="totalNetPrice" placeholder="Total reference" type="text" readonly />
                  <div class="input-group-addon">€</div>
                </div>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" id="payment">Payer</button>
              </form>
            </div>
          </div><!-- /row prix total -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Retourner sur la boutique</button>
        </div>
      </div>
    </div>
  </div>  <!-- fin modal -->

<!-- Les scripts bootstrap + jquery + angularjs + angular-route -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="assets/lib/angular/angular.min.js"></script>
<script src="assets/lib/angular-route/angular-route.min.js"></script>
<script src="bower/assets/lib/remarkable-bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
