#article .catMobilier{
  background-color: black;
  margin-bottom: 20px;
}
#article h2{
  text-align: center;
  color: white;
}
#article .bottom{
  margin-top: 30px;
  text-align: center;
}
#article a{
  color: white;
}
#article img{
  margin-bottom: 30px;
}
#article .articleImg{
  border-right: 2px solid black;
}
#article strong{
  font-weight: bold;
  color: black;
}
