/*---------------------------------HEADER-------------------------------------*/
/*Logo*/
.logo{
  font-family: 'Poiret One', cursive;
  margin: auto;
  padding-left: 50px;
}
.logo a{
  font-size: 60px;
}
/*Menu*/
.navbar{
  margin-bottom: 30px;
}
.menu_search{
  height: 40px;
}
/*Carrousel*/
#carouselExampleControls{
  margin : 15px auto;
}
.img_slider{
  height: 300px;
  width: 500px;
}
/*---------------------------------CONTENT------------------------------------*/
/*Titre des articles en promotion*/
.title_promotion{
  background-color: orange;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}
/*BLOCK IMAGE PROMO*/
.categorie_img_content{
  font-size: 20px;
  margin-left: 15%;
  color: white;
}
.price_content{
  margin-left: 18%;
  font-size: 20px;
  color: white;
}
/*BLOCK IMAGE CATEGORIE MOBILIER*/
.categorie_img_content2{
  font-size: 20px;
  margin-left: 15%;
  color: black;
}
.price_content2{
  margin-left: 25%;
  font-size: 20px;
  color: black;
}
/*BLOCK IMAGE CATEGORIE LUMINAIRE*/
.categorie_img_content3{
  font-size: 20px;
  margin-left: 15%;
  color: black;
}
.price_content3{
  margin-left: 25%;
  font-size: 20px;
  color: black;
}
/*Espace entre les articles page home*/
.space_article{
  padding-top: 30px;
}
.block_promo{
  background-color: black;
}
.img_promo{

  margin-left: 20%;

}

/*Block d'image partie promotion*/

.title_luminaire_home{

  padding-top: 50px;

  padding-bottom : 20px;

 }

 /*--------------------------------FOOTER--------------------------------------*/

/*Bouton retour en haut*/

#myBtn {

    display: none; /* Hidden by default */

    position: fixed; /* Fixed/sticky position */

    bottom: 60px; /* Place the button at the bottom of the page */

    right: 30px; /* Place the button 30px from the right */

    z-index: 99; /* Make sure it does not overlap */

    border: none; /* Remove borders */

    outline: none; /* Remove outline */

    background-color: orange; /* Set a background color */

    color: white; /* Text color */

    cursor: pointer; /* Add a mouse pointer on hover */

    padding: 15px; /* Some padding */

    border-radius: 10px; /* Rounded corners */

}



#myBtn:hover {

    background-color: #555; /* Add a dark-grey background on hover */

}
/*--------------------------------FOOTER--------------------------------------*/
.footer_page{
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #000;
}
/*Lien vers le haut de la page home*/
.top_page{
  color:white;
  font-size: 20px;
}
.top_page:hover{
  color: orange;
  text-decoration: none;
}
.social-icon{
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icon li{
  display: inline-block;
  text-align: center;
}
.social-icon a{
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  margin-right: 5px;
}
.social-icon a{
  background: rgba(255, 255, 255, 0.85); /* social icon background color */
  color: #000; /* social icon color */
}
.social-icon a:hover{
  background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
  color: #fff; /* social icon hover color */
}
